apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: todolist
  namespace: argocd
spec:
  project: default
  source:
    repoURL: ${git_repository_url}
    targetRevision: main
    path: charts/todolist
    helm:
      valueFiles:
        - values-demo.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: todolist
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
